.bordes11 {
    border-style: dotted;
    border-color: silver;
    height: 72px;
}
.conatiner{
    width: 900px;
}

.box{
    height: 200px;
    margin: 10px;
    float: left;
    width: 30%;
    text-align: center;
    font-size: 17px;
}

.containerBut{
    text-align: center;
}

.containerBut .btn{
    font-size: 30px;
    padding: 10px;
}

.btn{
    width: 120px;
    font-size: 17px;
    padding: 1px;
    background-color: rgb(110, 218, 110);
    border-color: black;
    border-radius: 10px;
    margin-top: 20px;
}

.buttonSub{
    padding: 10px;
    font-size: 20px;
    width: 10%;
    background-color:green;
    color: beige;
}

.limp{
    background-color: green;
    padding: 0 10px;
    justify-content: space-between;
    margin-left: 30%;
    border-radius: 20px;
    color: white;
}

.limp2{
    background-color: green;
    padding: 0px 10px;
    margin-left: 25%;
    border-radius: 20px;
    color: white;
}