<mat-tab-group mat-align-tabs="start">
    
    <mat-tab label="Form 1" >

       <form [formGroup]="form"  >
            <div class="container" formArrayName="listatexto">
                 <div class="box"  *ngFor="let t of getListaform1.controls; let i = index " [formGroupName]="i">
                    <mat-form-field appearance="outline" class="bordes11">
                        <input matInput placeholder="" (keyup)="ponerValor($event,i)" formControlName="texto">
                    </mat-form-field>
                    <br>
                    <input class="btn" type="button" formControlName="buttonValue">
                </div> 
            </div>  
           <div class="containerBut">
            <button class="buttonSub" mat-button (click)="guardarAForm2()">Guardar</button>
           </div>
       </form>      

    </mat-tab>
    <mat-tab label="Form 2" >
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let texto of lista;let i =index" [value]="texto" (click)="eliminar(i)">
                {{texto}}
            </mat-list-option>
          </mat-selection-list>
          <div>
            <button mat-raised-button class="limp" (click)="clear()">Limpiar</button>
            <button mat-raised-button class="limp2" (click)="addAll()">Adicionar</button>
        
          </div>
    </mat-tab>

    <mat-tab label="Form 3" >

        <h3> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid vero inventore, dolorum quia quo eveniet eius rem minus explicabo illum quod ipsam beatae delectus doloribus ex soluta nobis similique expedita.
        Quas accusantium pariatur assumenda eum, aspernatur tempore iure sunt modi quod dicta vel magni vero reiciendis nobis. Nisi eius architecto nam eos! Exercitationem earum cum iusto nulla blanditiis adipisci accusamus.
        Fugit optio quisquam magnam in accusantium ex amet eveniet, dolores, dolorem quas quam tempore explicabo praesentium odio? Nulla accusamus dignissimos eum sed velit, quaerat alias vero excepturi eveniet debitis iure! Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore veniam tenetur necessitatibus quasi deleniti totam, sunt vitae labore quia? Iure recusandae temporibus, aliquam a architecto exercitationem doloribus accusantium est iste? l </h3>
        <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let texto of listaOficial; let i = index">{{i+1}}.- {{texto}} </mat-list-item>
        </mat-list>

    </mat-tab>
    
  </mat-tab-group>